.preloader {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.preloader span {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: 4px solid #f03b8c;
	border-left-color: transparent;
	border-radius: 100%;
	animation: loader 1s linear infinite;
}
@keyframes loader
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}

}
